root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
tab_width = 4
ij_continuation_indent_size = 4
max_line_length = 120
trim_trailing_whitespace = true
insert_final_newline = true

[*.{kt,kts}]
max_line_length = 120
ktlint_code_style = intellij_idea
ktlint_standard = enabled
ktlint_experimental = disabled
ij_kotlin_imports_layout = *,java.**,javax.**,kotlin.**,^
ij_kotlin_name_count_to_use_star_import = 999
ij_kotlin_name_count_to_use_star_import_for_members = 999
ij_kotlin_packages_to_use_import_on_demand = unset
ij_kotlin_import_nested_classes = false
ij_kotlin_continuation_indent_size = 4
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true
ktlint_standard_final-newline = enabled
ktlint_standard_import-ordering = enabled
ktlint_standard_max-line-length = enabled
ktlint_standard_no-wildcard-imports = enabled

[*.{gradle,gradle.kts}]
indent_style = space
indent_size = 4
max_line_length = 120

[*.{java}]
indent_style = space
indent_size = 4
max_line_length = 120
ij_java_use_single_class_imports = true
ij_java_class_count_to_use_import_on_demand = 999
ij_java_names_count_to_use_import_on_demand = 999

[*.{yml,yaml}]
indent_size = 2

[*.{json,jsonc}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.{properties,txt}]
indent_size = 2
