{
  "$schema": "http://json.schemastore.org/launchsettings.json",
  "profiles": {
    "{{PROJECT_NAME}}": {
      "commandName": "Project",
      "dotnetRunMessages": true,
      "launchBrowser": false,
      "applicationUrl":
        "http://localhost:{{HTTP_PORT}};https://localhost:{{HTTPS_PORT}}",
      "environmentVariables": {
        "ASPNETCORE_ENVIRONMENT": "Development"
      }
    }
  }
}
